# Python cache
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
ENV/
.venv/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Local settings
.env
*.env

# Static and media (optional)
staticfiles/
media/

# IDE/editor configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db