version: '3.9'

services:
  web:
    build: .
    container_name: help_a_stray_web
    command: gunicorn help_a_stray.wsgi:application --bind 0.0.0.0:8000 --workers=4
    volumes:
      - .:/app
    expose:
      - "8000"
    depends_on:
      - postgres
    env_file:
      - .env

  nginx:
    image: nginx:latest
    container_name: help_a_stray_nginx
    ports:
      - "81:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - './static_files:/usr/share/nginx/html/static_files'
    depends_on:
      - web

  postgres:
    image: postgres:15
    container_name: help_a_stray_db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: