{% extends 'district/base.html' %}
{% load placeholder_filter %}
{% block content %}
<body>
    <div class="register-container">
         <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.username| placeholder:'Username' }}
                {{ form.password| placeholder:'Password' }}
                <button type="submit">Login</button>
            </form>
        <div class="alternative">
            <p>Don't have an account? <a href="{% url 'register' %}"> Register</a> </p>
        </div>
    </div>

</body>
{% endblock %}