{% extends 'district/base.html' %}
{% load placeholder_filter %}
{% block content %}
<body>
    <div class="register-container">
         <h2>Create Account</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.username| placeholder:'Username' }}
                {{ form.username.errors }}
                {{ form.email| placeholder:'Email' }}
                {{ form.email.errors}}
                {{ form.password1| placeholder:'Password' }}
                {{ form.password1.errors }}
                {{ form.password2| placeholder:'Repeat password' }}
                {{ form.password2.errors }}
                <p>Select your default district from the list or contact admin if not there:</p>
                {{ form.main_district}}
                {{ form.main_district.errors }}
                <button type="submit">Register</button>
            </form>
        <div class="alternative">
            <p>Already have an account? <a href="{% url 'login' %}"> Log in</a> </p>
        </div>
    </div>

</body>
{% endblock %}