{% extends 'district/base.html' %}
{% load static %}
{% load placeholder_filter %}
{% block content %}
<body>
    <div class="register-container">
        <div class="sighting-p1">
         <h2>Cat Sighting - part 1</h2>
            <form method="post" class="sighting">
                {% csrf_token %}
                {{ form.district }}
                <p>Hold Ctrl to select more than one:</p>
                {{ form.color }}
                {{ form.gender }}
                <button type="submit">Proceed</button>
            </form>
        </div>
    </div>
{% endblock %}